@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/itc-caslon-224-std');

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #5c5c77;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding: 100px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #ffbc3b;
}

h2 {
font-size: 40px; 
color: #2A2F4A
}

h3 {
font-size: 30px; 
color: #2A2F4A
}

h4 {
font-size: 20px; 
color:#2A2F4A
}

section {
padding: 100px 0
}

.btn {
background-color: #ffbc3b;
color:white;
font-size: 22px;
padding: 15px 20px; 
font-weight: bold; 
border-radius: 10px;
line-height: normal;
    /* tracking-[0.10em] */
}
.btn3 {
background-color: #ffbc3b;
color:white;
font-size: 23px;
padding: 15px 20px; 
font-weight: bold; 
border-radius: 10px;
line-height: normal;
    /* tracking-[0.10em] */
}
.btn1 {
background-color: #ffbc3b;
color:white;
font-size: 18px;
padding: 5px 10px; 
font-weight: bold; 
border-radius: 5px;
line-height: normal;
    /* tracking-[0.05em] */
}
.btn2 {
background-color: #ffbc3b;
color: white;
font-size: 16px;
padding: 5px 10px; 
font-weight: bold; 
border-radius: 5px;
line-height: normal;
    /* tracking-[0.05em] */
}
  /* .effet{
    @apply after:absolute after:content-[""] after:bg-white after:bottom-[-10px] after:w-0 hover:after:w-full active:after:w-full after:h-[3px] after:left-0 after:duration-500 after:ease-in-out after:scale-x-0 after:transform  after:transition after:origin-left hover:after:scale-x-100 active:after:scale-x-50 hover:text-[#ffbc3b] active:text-[#ffbc3b]
  } */

  .active {
    color: #ffbc3b after:scale-x-50
  }
  /* .active:after {
    scale-x-:50;
    
  } */
  .sidebar-box {
    margin-bottom: 30px;
    padding :10px;
    width: 100%;
    background-color: white:
  }

  #dropdown:hover #submenu {
      opacity: 1;
      visibility: visible;
      
  }

  main {
    width: 800px;
  }
  
  .testimonial{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(
        at 40% 20%,
        rgb(255, 184, 122) 0px,
        transparent 50%
      ),
      radial-gradient(at 80% 0%, rgb(31, 221, 255) 0px, transparent 50%),
      radial-gradient(at 0% 50%, rgb(255, 219, 222) 0px, transparent 50%),
      radial-gradient(at 80% 50%, rgb(255, 133, 173) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgb(255, 181, 138) 0px, transparent 50%),
      radial-gradient(at 80% 100%, rgb(107, 102, 255) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgb(255, 133, 167) 0px, transparent 50%);
    background-repeat: no-repeat;
    scroll-behavior: smooth;
  }
  
  
  .slide-row {
    display: flex;
    width: 3200px;
    transition: 0.5s;
  }
  
  .slide-col {
    position: relative;
    width: 800px;
    height: 400px;
  }
  
  .hero {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  
  .hero img {
    height: 100%;
    border-radius: 10px;
    width: 320px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 520px;
    height: 270px;
    color: #4d4352;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    padding: 45px;
    z-index: 2;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .content p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.3;
  }
  
  .content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 35px;
    color: #4d4352;
  }
  
  .indicator {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  
  .indicator .btn4 {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .btn4.active {
    width: 30px;
  }
  
  .slider {
    width: 100%;
    overflow: hidden;
  }
  
  @media (max-width: 850px) {
    main {
      width: 500px;
    }
  
    .slide-row {
      width: 2000px;
    }
  
    .slide-col {
      width: 500px;
      height: 250px;
    }
  
    .hero img {
      width: 200px;
    }
  
    .content {
      width: 320px;
      height: 200px;
      padding: 20px;
    }
  
    .content p {
      font-size: 0.9rem;
    }
  
    .content h2 {
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 550px) {
    main {
      width: 300px;
    }
  
    .slide-row {
      width: 1200px;
    }
  
    .slide-col {
      width: 500px;
      height: 300px;
    }
  
    .hero {
      top: 60%;
      height: 100px;
      z-index: 5;
    }
  
    .hero img {
      width: 100px;
    }
  
    .content {
      width: 300px;
    }
  }
  



.sub-menu {
   
    position: absolute;
    font-size: 18px;
    width: 146px;
    height: 106px;
    z-index: 99;
    background-color: #b65200;
    color: white;
    right: -17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* z-index: 10; */
    padding: 5px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform ease-in-out 0.5s;
    border-top-color: white 2px solid;
}

.sub-menu li a {
    padding: 10px;
    font-weight: 500;
}

.sub-menu li a:hover{
    background-color: white;
    color: black;
}

#menu-item-61  {
    position: relative;

}
#menu-item-61:hover .sub-menu{
    display: block;
    transform: scaleY(1);
}


/* .section2 {
    background: #B50057;
}

.font2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
}
.font2 {
    font-family: 'ITC Caslon 224 Std', sans-serif;
    font-weight: 400;
}

@font-face{
    font-family: Red Hat Display;
    font-weight: 300;
    src: url("../fonts/static/RedHatDisplay-Regular.ttf");
}
@font-face{
    font-family: ITC Caslon 224 Std;
    font-weight: 400;
    src: url("../fonts/calson/ITC Caslon 224 Std Medium.ttf");
}

@font-face{
    font-family: Poppins;
    font-weight: 400;
    src: url("../fonts/fontawesome/Poppins-Regular.ttf");
}
@font-face{
    font-family: Poppins;
    font-weight: 600;
    src: url("../fonts/fontawesome/Poppins-SemiBold.ttf");
}
@font-face{
    font-family: Poppins;
    font-weight: 700;
    src: url("../fonts/fontawesome/Poppins-Bold.ttf");
}

.font-semibold{
    font-family: Poppins, sans-serif;
    font-weight: 600;
}
.font-500{
    font-family: Poppins, sans-serif;
    font-weight: 500;
} */


